@font-face {
    font-family: 'Teko';
    src: url(../fonts/Teko-VariableFont_wght.ttf) format('truetype');
    font-style: 'italic';
}
@font-face {
    font-family: 'Teko';
    src: url(../fonts/Teko-VariableFont_wght.ttf) format('truetype');
    font-style: 'normal';
}
@font-face {
    font-family: 'Teko';
    src: url(../fonts/Teko-VariableFont_wght.ttf) format('truetype');
    font-style: 'bold';
}
@font-face {
    font-family: 'Teko';
    src: url(../fonts/Teko-VariableFont_wght.ttf) format('truetype');
    font-style: 'bold italic';
}
/*im trying a downloaded font called teko*/