div{
    font-family: 'Teko';
    font-style: normal;
    margin: 10px;
    width: auto;
    padding: .5em;
    border: 1px solid black;
    border-style: ridge;

}


.title{
    font-family:'Teko';
    font-size: 74px;
    font-style: 'bold';
    color: peru;
    background-color: slategrey;
    text-align: center;
}

#mithrilarmor{
    font-family: 'Teko';
    font-weight: 600;
    font-style: italic;
}

#mithrilarmor:hover:after {
    content: "you only get this AFTER you beat the game, oh yeah and *spoiler alert* you have to fight a dragon.";
    font-family: 'Teko';
    font-weight: 400;
    color: goldenrod;
    font-style: bold italic;
}

#LotR{
    font-family: 'Teko';
    font-weight: 600;
    font-style: bold;
}

#LotR:hover {
    background: url("../images/lotr-rtm.jpg");
    float: right;
    height: 500px;
    width: 700px;
}

#underline {
    text-decoration: underline;
    text-transform:capitalize;
}
