body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #990000;
    text-align: center;
    padding: 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 2%;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #990000;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 3% 4%;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-content {
    padding: 2%;
}

footer {
    background-color: #990000;
    text-align: center;
    padding: 2% 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    margin: 2% 0;
    padding-bottom: 1%;
    border-bottom: 2px solid #fff;
}