.navbar {
    background-color: fuchsia;
    overflow: hidden;
    position: fixed;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover {
    background-color: red;
    color: black;
}

.h1 {
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}

.body {
    margin: 0;
    padding: 5% 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 64px;
}

.Email {
    
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.social_media {
    
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

